$base-color: #eeeef4;
$white: #fff;
$site-pink: #f77f87;
$font-color: #4d4d4d;
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: $base-color url(../../public/bg.jpg) repeat 0 0;
    color: $font-color;
    font-family: Helvetica, 微軟正黑體, Verdana, Arial, sans-serif, 細明體_HKSCS-ExtB, "Ming(for ISO10646)ExtB";
}

img {
    display: block;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;

    padding-bottom: 2em;
    @media screen and (min-width: 969px) {
        width: 970px;
  
    }
}


.bgcon{
    width: 100%;
    background-size: 100%;
}

.header{
    width: 100%; 
    background: $white url(../../public/logo_2.png) no-repeat center center;
    background-size: auto 60%;
    display: flex; 
    align-items: center; 
    height: 60px;
    border-bottom: 2px solid #cccccc;
    .btn_back{
        flex-grow: 1;
        margin-left: 15px;
        height: 100%; 
        img {
            height: 100%; 
        }
    }
   
    @media screen and (max-width: 350px) {
       background-size: auto 40%;
    }
}

.navCon{
    display: flex;
    justify-content: center;
    background: $white;
    a{
        text-decoration: none;
        color: $font-color;
    }
    .nav{
        width: 124px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        display: block;
        font-size: 26px;
        
    }
    .active{
        border-bottom: 5px solid $site-pink;
    }
}
.articleCon{
    width: calc(100% - 20px);
    position: relative;
    background: #fff; 
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    .area{
        position: absolute;
        background: $site-pink;
        color: $white;
        padding: 0.2em 1em;
    }
    .articlesImage{
        img{
            width: 100%;
        }
    }
    .articleTitle{
        margin-left: 10px;
        h3{
            font-size: 1.5em ;
            margin: 10px 0 0 0;
        }
        .method{
            margin-left: 0px;
            display: flex;
            align-items: flex-start;
            p{
                line-height: 26px;
                margin:0px;
                color: #888;

            }
        }
        
    }
    .articleLink{
        a{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 1;
        }
        
    }
}
.articleDetailCon{
    width: calc(100% - 20px);
    position: relative;
    margin: 10px;
    box-sizing: border-box;
}
.storePhoto{
    width: calc(100% - 20px);
    position: relative;
    background: #fff; 
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    .slide-con{
        img{width:100%;}
    }
    .controls{
        position: absolute;
        list-style: none;
        width: calc(100% - 20px);
        top: calc(50% - 40px);
        margin: 0;
        padding: 0;
        li{
            position: absolute;
        }
        li.prev{
            left: 0 ;
        }
        li.next {
            right: 0;
        }
    }
}
.storeDetail{
    width: calc(100% - 50px);
    position: relative;
    margin: 25px;
    .storeHeader{
        width: calc(100% - 20px);
        border-bottom: 1px solid $font-color;
    }
    .storeName{
        font-size: 1.5em;
        font-weight: bold;
        line-height: 2em;
    }
    .address{
        margin-left: 0px;
        display: flex;
        align-items: flex-start;
        p{
            line-height: 26px;
            margin:0px;
            color: $font-color;
            width: 80%;
        }
        a{
            text-decoration: none;
            color: $font-color;
        }
    }
    .address::before {
        background-repeat: no-repeat;
        background-image: url('../../public/location_icon_1.png');
        background-size: 18px 18px;
        background-position: center center;
        align-items: center;
        width: 21px; 
        height: 25px;
        content:"";
    }
    .menu{
        margin-left: 0px;
        display: flex;
        align-items: flex-start;
        p{
            line-height: 26px;
            margin:0px;
            color: $font-color;
            width: 80%;
        }
        a{
            text-decoration: none;
            color: $font-color;
        }
    }
    .menu::before {
        background-repeat: no-repeat;
        background-image: url('../../public/menu_icon_1.png');
        background-size: 18px 18px;
        background-position: center center;
        align-items: center;
        width: 21px; 
        height: 25px;
        content:"";
    }
    .phone{
        margin-left: 0px;
        display: flex;
        align-items: flex-start;
        p{
            line-height: 26px;
            margin:0px;
            color: $font-color;
        }
        a{
            text-decoration: none;
            color: $font-color;
        }
    }
    .phone::before {
        background-repeat: no-repeat;
        background-image: url('../../public/phone_icon_1.png');
        background-size: 18px 18px;
        background-position: center center;
        align-items: center;
        width: 21px; 
        height: 25px;
        content:"";
    }
    .website{
        margin-left: 0px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        p{
            width: 86%;
            line-height: 26px;
            margin:0px;/* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;
          
            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;
          
            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
        a{
            text-decoration: none;
            color: $font-color;
        }
    }
    .website::before {
        background-repeat: no-repeat;
        background-image: url('../../public/website_icon_1.png');
        background-size: 18px 18px;
        background-position: center center;
        align-items: center;
        width: 21px; 
        height: 25px;
        content:"";
    }
   
}
.relatedarticleCon{
    width: calc(100% - 50px);
    position: relative;
    margin: 25px;
    .relatedarticleHeader{
        width: calc(100% - 20px);
        border-bottom: 1px solid $font-color;
        margin-bottom: 10px;
    }
    .relatedarticle{
        width: calc(100% - 20px);
        display: flex;
        position: relative;
        margin: 5px;
       .relatedarticleImage{
           width: 50%;
           img{
               width: 100%;
           }
       }
       .relatedarticleTitle{
           width: 50%;
           padding: 0 1em 0 1em;
       }
       .relatedarticleLink{
           position: absolute;
           width: 100%;
           height: 100%;
           top: 0;
           display: block;
           z-index: 1;
           a{
            width: 100%;
            height: 100%;
            z-index: 1;
            display: block;
           }
       }
    }
}

