$base-color: #eeeef4;
$white: #fff;
$site-pink: #f77f87;
$font-color: #4d4d4d;
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: $base-color url(../../public/bg.jpg) repeat 0 0;
    color: $font-color;
    font-family: Helvetica, 微軟正黑體, Verdana, Arial, sans-serif, 細明體_HKSCS-ExtB, "Ming(for ISO10646)ExtB";
}

img {
    display: block;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
#container{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;

    padding-bottom: 2em;
    @media screen and (min-width: 969px) {
        width: 970px;
  
    }
}


.bgcon{
    width: 100%;
    background-size: 100%;
}

.header{
    width: 100%; 
    background: $white url(../../public/logo_2.png) no-repeat center center;
    background-size: auto 60%;
    display: flex; 
    align-items: center; 
    height: 60px;
    border-bottom: 2px solid #cccccc;
    .btn_back{
        flex-grow: 1;
        margin-left: 15px;
        height: 100%; 
        img {
            height: 100%; 
        }
    }
   
    @media screen and (max-width: 350px) {
       background-size: auto 40%;
    }
}

.navCon{
    display: flex;
    justify-content: center;
    background: $white;
    a{
        text-decoration: none;
        color: $font-color;
    }
    .nav{
        width: 124px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        display: block;
        font-size: 26px;
        
    }
    .active{
        border-bottom: 5px solid $site-pink;
    }
}
.articleCon{
    width: calc(100% - 20px);
    position: relative;
    background: #fff; 
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    .area{
        position: absolute;
        background: $site-pink;
        color: $white;
        padding: 0.2em 1em;
    }
    .articlesImage{
        img{
            width: 100%;
        }
    }
    .articleTitle{
        margin-left: 10px;
        h3{
            font-size: 1.5em ;
            margin: 10px 0 0 0;
        }
        .address{
            margin-left: 0px;
            display: flex;
            align-items: flex-start;
            p{
                line-height: 26px;
                margin:0px;
                color: #888;

            }
        }
        .address::before {
            background-repeat: no-repeat;
            background-image: url('../../public/location_icon_1.png');
            background-size: 18px 18px;
            background-position: center center;
            align-items: center;
            width: 21px; 
            height: 25px;
            content:"";
        }
    }
    .articleLink{
        a{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 1;
        }
        
    }
}

.fix_viewport_resize_oninput {
    position: fixed !important;
    width: 100% !important;
}

